<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Home - Apotek Hactiv8</title>
<meta name="description" content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque autem nemo nisi illum tenetur odit quaerat quae, perspiciatis, eum quasi reiciendis molestiae et laudantium, omnis sequi sapiente blanditiis ratione?">
<script src="../assets/js/jquery-3.7.1.min.js"></script>
<script>
    (function () {

        // JavaScript snippet handling Dark/Light mode switching

        const getStoredTheme = () => localStorage.getItem('theme');
        const setStoredTheme = theme => localStorage.setItem('theme', theme);
        const forcedTheme = document.documentElement.getAttribute('data-bss-forced-theme');

        const getPreferredTheme = () => {

            if (forcedTheme) return forcedTheme;

            const storedTheme = getStoredTheme();
            if (storedTheme) {
                return storedTheme;
            }

            const pageTheme = document.documentElement.getAttribute('data-bs-theme');

            if (pageTheme) {
                return pageTheme;
            }

            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        }

        const setTheme = theme => {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark');
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme);
            }
        }

        setTheme(getPreferredTheme());

        const showActiveTheme = (theme, focus = false) => {
            const themeSwitchers = [].slice.call(document.querySelectorAll('.theme-switcher'));

            if (!themeSwitchers.length) return;

            document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                element.classList.remove('active');
                element.setAttribute('aria-pressed', 'false');
            });

            for (const themeSwitcher of themeSwitchers) {

                const btnToActivate = themeSwitcher.querySelector('[data-bs-theme-value="' + theme + '"]');

                if (btnToActivate) {
                    btnToActivate.classList.add('active');
                    btnToActivate.setAttribute('aria-pressed', 'true');
                }
            }
        }

        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
            const storedTheme = getStoredTheme();
            if (storedTheme !== 'light' && storedTheme !== 'dark') {
                setTheme(getPreferredTheme());
            }
        });

        window.addEventListener('DOMContentLoaded', () => {
            showActiveTheme(getPreferredTheme());

            document.querySelectorAll('[data-bs-theme-value]')
                .forEach(toggle => {
                    toggle.addEventListener('click', (e) => {
                        e.preventDefault();
                        const theme = toggle.getAttribute('data-bs-theme-value');
                        setStoredTheme(theme);
                        setTheme(theme);
                        showActiveTheme(theme);
                    })
                })
        });
    })();
</script>
<script>
    $(document).ready(function () {
        let redirectPage = sessionStorage.getItem("redirectPage");

        if (redirectPage) {
            sessionStorage.removeItem("redirectPage");
            loadPage(redirectPage);
        }
    });
</script>
<link rel="icon" type="image/png" sizes="400x400" href="/assets/img/hacktiv8-logo.png">
<link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
<link rel="stylesheet" href="/assets/bootstrap/css/bootstraps.min.css">
<link rel="stylesheet" href="/assets/css/css.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">