<section class="clean-block clean-catalog dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-info">Catalog Page</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna,
        dignissim nec auctor in, mattis vitae leo.
      </p>
    </div>
    <div class="content">
      <div class="row" id="productList">
        <div class="col-md-4">
          <div class="product-item">
            <img src="./assets/img/tech/image2.jpg" alt="paracetamol" />
            <h5 class="product-name">Paracetamol</h5>
            <div class="price">Rp 1.000</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <img src="./assets/img/tech/image2.jpg" alt="promag" />
            <h5 class="product-name">Promag</h5>
            <div class="price">Rp 1.000</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <img src="./assets/img/tech/image2.jpg" alt="sangobion" />
            <h5 class="product-name">Sangobion</h5>
            <div class="price">Rp 1.000</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>