<section class="clean-block clean-catalog dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-info">Catalog Page</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna,
        dignissim nec auctor in, mattis vitae leo.
      </p>
    </div>
    <!-- Tambahkan fitur pencarian -->
    <div class="mb-4">
      <input
        type="text"
        id="searchInput"
        class="form-control"
        placeholder="Cari produk..."
      />
    </div>
    <div class="content">
      <div class="row" id="productList">
        <!-- Produk akan dimuat di sini secara dinamis oleh JavaScript -->
      </div>
    </div>
  </div>
</section>

<script src="../../assets/js/catalog.js"></script>
