<section class="clean-block features">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-info">Features</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5 feature-box">
        <i class="icon-star icon"></i>
        <h4>Beragam Produk Kesehatan</h4>
        <p>
          Kami menyediakan berbagai jenis obat-obatan, suplemen, vitamin, dan
          alat kesehatan untuk kebutuhan Anda
        </p>
      </div>
      <div class="col-md-5 feature-box">
        <i class="icon-pencil icon"></i>
        <h4>Pengiriman Cepat & Aman</h4>
        <p>
          Pesanan Anda akan dikirim dengan cepat dan aman, langsung ke rumah
          Anda
        </p>
      </div>
      <div class="col-md-5 feature-box">
        <i class="icon-screen-smartphone icon"></i>
        <h4>Resep Online & Pembelian Mudah</h4>
        <p>
          Unggah resep dokter dan pesan obat secara online dengan proses yang
          cepat dan praktis
        </p>
      </div>
      <div class="col-md-5 feature-box">
        <i class="icon-refresh icon"></i>
        <h4>Harga Terjangkau & Promo Menarik</h4>
        <p>
          Nikmati harga terbaik dan berbagai penawaran diskon untuk membantu
          Anda menghemat biaya pengobatan
        </p>
      </div>
    </div>
  </div>
</section>
