<section class="clean-block clean-product dark">
  <div class="container">
    <div class="block-heading text-center">
      <h2 class="text-info">Product Page</h2>
      <p>
        Apotek menjadi tujuan bagi setiap individu yang membutuhkan berbagai
        jenis obat-obatan sesuai dengan kebutuhannya. Di setiap daerah sendiri
        ada lebih dari satu apotek yang bisa didatangi untuk menebus atau
        membeli obat yang sedang dibutuhkan.
      </p>
    </div>
    <div class="block-content">
      <div class="row">
        <div class="col-md-6">
          <div class="gallery">
            <div class="zoomed-image"></div>
            <div class="sidebar">
              <img
                class="img-fluid d-block small-preview"
                src="/assets/img/tech/paracetamol.jpg"
                alt="Paracetamol"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info">
            <h3>Paracetamol</h3>
            <div class="rating">
              <img src="/assets/img/star.svg" alt="Star" />
              <img src="/assets/img/star.svg" alt="Star" />
              <img src="/assets/img/star.svg" alt="Star" />
              <img src="/assets/img/star-half-empty.svg" alt="Half Star" />
              <img src="/assets/img/star-empty.svg" alt="Empty Star" />
            </div>
            <div class="price">
              <h3>Rp.50.000</h3>
            </div>
            <button class="btn btn-primary" type="button">
              <i class="icon-basket"></i> Add to Cart
            </button>
            <div class="summary mt-3">
              <p>
                Paracetamol adalah obat untuk meredakan demam dan nyeri,
                termasuk sakit kepala, nyeri haid, sakit gigi, atau pegal-pegal.
                Obat ini umumnya bisa dibeli bebas tanpa resep dokter.
              </p>
            </div>
          </div>
        </div>
      </div>

      <ul class="nav nav-tabs mt-4" role="tablist" id="myTab">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            role="tab"
            data-bs-toggle="tab"
            id="description-tab"
            href="#description"
            >Description</a
          >
        </li>
      </ul>

      <div class="tab-content mt-3" id="myTabContent">
        <div
          class="tab-pane fade show active description"
          role="tabpanel"
          id="description"
        >
          <div class="row">
            <div class="col-md-5">
              <figure class="figure">
                <img
                  class="img-fluid figure-img"
                  src="/assets/img/tech/paracetamol.jpg"
                  alt="Paracetamol"
                />
              </figure>
            </div>
            <div class="col-md-7">
              <h4>Paracetamol</h4>
              <p>
                Paracetamol diketahui dapat bekerja langsung pada pusat
                pengaturan suhu tubuh dan rasa sakit yang ada di otak. Dengan
                begitu, keluhan demam atau rasa sakit bisa cepat mereda. Obat
                analgesik antipiretik ini juga minim efek samping sehingga bisa
                menjadi pilihan pertama yang aman untuk demam dan nyeri.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
