<section class="clean-block clean-cart dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-info">Shopping Cart</h2>
      <p>
        Apotek menjadi tujuan bagi setiap individu yang membutuhkan berbagai
        jenis obat-obatan sesuai dengan kebutuhannya. Di setiap daerah sendiri
        ada lebih dari satu apotek yang bisa didatangi untuk menebus atau
        membeli obat yang sedang dibutuhkan.
      </p>
    </div>
    <div class="content">
      <div class="row g-0">
        <div class="col-md-12 col-lg-8">
          <div class="items">
            <div class="product">
              <div class="row justify-content-center align-items-center">
                <div class="col-md-3">
                  <div class="product-image">
                    <img
                      class="img-fluid d-block mx-auto image"
                      src="/assets/img/tech/paracetamol.jpg"
                    />
                  </div>
                </div>
                <div class="col-md-5 product-info">
                  <a class="product-name" href="#">Paracetamol</a>
                  <div class="product-specs">
                    <div>
                      <span
                        >Paracetamol 500 MG kotak isi 10 Strip 10
                        KAPLET&nbsp;</span
                      >
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-2 quantity">
                  <label class="form-label d-none d-md-block" for="quantity"
                    >Quantity</label
                  ><input
                    type="number"
                    id="number"
                    class="form-control quantity-input"
                    value="1"
                  />
                </div>
                <div class="col-6 col-md-2 price"><span>Rp.25.000</span></div>
              </div>
            </div>
            <div class="product">
              <div class="row justify-content-center align-items-center">
                <div class="col-md-3">
                  <div class="product-image">
                    <img
                      class="img-fluid d-block mx-auto image"
                      src="/assets/img/tech/promag.png"
                    />
                  </div>
                </div>
                <div class="col-md-5 product-info">
                  <a class="product-name" href="#">Promag</a>
                  <div class="product-specs">
                    <div>
                      <span>Obat PROMAG 1Box @ 3Strip&nbsp;</span>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-2 quantity">
                  <label class="form-label d-none d-md-block" for="quantity"
                    >Quantity</label
                  ><input
                    type="number"
                    id="number"
                    class="form-control quantity-input"
                    value="1"
                  />
                </div>
                <div class="col-6 col-md-2 price"><span>Rp.25.000</span></div>
              </div>
            </div>
            <div class="product">
              <div class="row justify-content-center align-items-center">
                <div class="col-md-3">
                  <div class="product-image">
                    <img
                      class="img-fluid d-block mx-auto image"
                      src="/assets/img/tech/amoxilin.jpg"
                    />
                  </div>
                </div>
                <div class="col-md-5 product-info">
                  <a class="product-name" href="#">Amoxilin</a>
                  <div class="product-specs">
                    <div>
                      <span>Amoxilin 500 MG 1Box 100Kapsul&nbsp;</span>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-md-2 quantity">
                  <label class="form-label d-none d-md-block" for="quantity"
                    >Quantity</label
                  ><input
                    type="number"
                    id="number"
                    class="form-control quantity-input"
                    value="1"
                  />
                </div>
                <div class="col-6 col-md-2 price"><span>Rp.50.000</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="bg-body-tertiary summary">
            <h3>Summary</h3>
            <h4
              class="border-primary-subtle"
              style="border-color: var(--bs-primary-border-subtle)"
            >
              <span class="text">Subtotal</span
              ><span class="price">Rp.100.000</span>
            </h4>
            <h4>
              <span class="text">Discount</span><span class="price">Rp.0</span>
            </h4>
            <h4>
              <span class="text">Shipping</span><span class="price">Rp.0</span>
            </h4>
            <h4>
              <span class="text">Total</span
              ><span class="price">Rp.100.000</span>
            </h4>
            <button class="btn btn-primary btn-lg d-block w-100" type="button">
              Checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
